??? {% if item.passed %}success{% elif item.failed %}failure{% else %}quote{% endif %} "__{{item.type}}__ {% if item.variables %}{% for var in item.variables %} `{{var}}`{% endfor %} {% endif %}__{{item.flavor}}__{% if item.values %} [{% for val in item.values %} `{{val}}`{% endfor %} ]{% endif %}"
    
    <small>{% include "elapsed_time.md.jinja" %}</small>

{% for child in item.body %}
{% filter indent(width=4) %}
    {% with item = child %}{% include "item.md.jinja" %}{% endwith %}

{% endfilter %}
{% endfor %}
