??? {% if keyword.passed %}success{% elif keyword.failed %}failure{% else %}quote{% endif %} "{% if keyword.assign %}{% for var in keyword.assign %} `{{var}}`{% endfor %} `=` {% endif %}__{{keyword.kwname}}__{% for arg in keyword.args %} `{{arg}}`{% endfor %}"
    
    {{keyword.doc}}

    <small>:octicons-code-16: `{{keyword.libname}}`.__{{keyword.kwname}}__</small><br>
    <small>{% with item = keyword %}{% include "elapsed_time.md.jinja" %}{% endwith %}</small>

{% for item in keyword.body %}
{% filter indent(width=4) %}
    {% include "item.md.jinja" %}

{% endfilter %}
{% endfor %}
