{% if message.html %}
<pre class="robot-log-message"><code markdown>{{message.level}} {{message.message | indent}}</code></pre>
{% else %}
<pre class="robot-log-message"><code markdown>{{message.level}} {{message.message | e | indent}}</code></pre>
{% endif %}
