=== ":material-cog-play: Setup"

{% filter indent(width=4) %}
    {% include "keyword.md.jinja" %}

{% endfilter %}

=== ":material-text-long: Log"

{% for message in robot_util.get_log_messages(keyword) %}
{% filter indent(width=4) %}
    {% include "message.md.jinja" %}
{% endfilter %}
{% endfor %}
