{{ '#' * (depth + 1)}} {{test.name}} <code id="{{test.id}}" class="robot-symbol robot-symbol-{{test.status | lower}}">{{test.status}}</code>

<div class="test-contents" markdown>

{{test.doc}}

<small>{% with item = test %}{% include "elapsed_time.md.jinja" %}{% endwith %}</small>


{% if test.message %}
!!! failure ""
    {{test.message | indent}}
{% endif %}

=== ":material-test-tube: Test Case"

{% for item in test.body %}
{% filter indent(width=4) %}
    {% include "item.md.jinja" %}

{% endfilter %}

{% endfor %}

=== ":material-text-long: Log"

{% for keyword in test.body %}
{% filter indent(width=4) %}
    {% include "log.md.jinja" %}

{% endfilter %}

{% endfor %}


</div>
