# {{robot.suite.name}}

{{robot.suite.doc}}

:material-list-status: __{{robot.statistics.total.failed}} failed__, {{robot.statistics.total.passed}} passed, {{robot.statistics.total.skipped}} skiped, __{{robot.statistics.total.total}} total__<br>
{% with item = robot.suite %}:material-clock-fast: Executed in __{{item.elapsedtime}} ms__ on __{{item.start_time.strftime('%B %d, %Y')}}__ at __{{item.start_time.strftime('%H:%M:%S')}}__{% endwith %}<br>
:octicons-code-16: Source `{{robot.suite.source}}`

{% include "environment.md.jinja" %}

__Statistics__

|  | Pass / Fail / Skip | Total / Elapsed |
| --- | :---: | :---: |
{% set suite = robot.statistics.suite %}
{% include "suite_statistics.md.jinja" %}
{% set tags = robot.statistics.tags %}
{% include "tag_statistics.md.jinja" %}

{% if robot.suite.has_setup %}
{% with keyword = robot.suite.setup %}{% include "setup.md.jinja" %}{% endwith %}
{% endif %}

{% set depth = 2 %}
{% for suite in robot.suite.suites %}
{% include "suite.md.jinja" %}

{% endfor %}
